<form action="/cart/656dcc23f5e69c065226c747" method="post">
  <button class="btn">Add to cart</button>
  <input type="hidden" name="productId" value="<%= product._id %>" />
  <input type="hidden" name="productPrice" value="<%= product.price %>" />
</form>
